<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel Journal</title>
    </head>

    <body>

        <header>
            <h1>My Travel Journal</h1>
        </header>

        <main>
            <div class="trip-container">
                <div class="trip-image">
                    <img id="city-image" src="https://cdn.pixabay.com/photo/2016/01/19/15/48/luggage-1149289_640.jpg" alt="An image of the city">
                </div>
                <div class="trip-data">
                    <div class="label-input">
                        <label for="city-input">My trip to</label>
                        <input id="city-input" type="text" name="city-input" value="New York" placeholder="City">
                    </div>
                    <div class="label-input">
                        <label for="date-input">on</label>
                        <input id="date-input" type="text" name="date-input" value="30.03.2020" placeholder="DD.MM.YYYY">
                    </div>
                    <button id="save-trip">Save trip</button>
                    <div class="label-input">
                        <label for="weather">Weather forecast:</label>
                        <div class="weather-data">
                            <img id="weather-icon" src="https://www.weatherbit.io/static/img/icons/u00d.png" alt="An image for the weather forecast">
                            <input id="weather" name="weather" value="...">
                        </div>
                    </div>
                </div>
            </div>
        </main>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then(registration => {
                    console.log('SW registered: ', registration);
                }).catch(registrationError => {
                    console.log('SW registration failed: ', registrationError);
                });
            });
        }
    </script>

    </body>
</html>
